---
import { getEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

const entry = await getEntry('about', 'about-ja');
const { Content } = await entry.render();
---

<Layout title="について - 久野翔">
  <div class="prose">
    <Content />
  </div>
</Layout>