---
import { getEntry } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const entry = await getEntry('about', 'about');
const { Content } = await entry.render();
---

<Layout title="About - Sho Kuno">
  <div class="prose">
    <Content />
  </div>
</Layout>